body {
    background-color: red;
}

.burgInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: black solid 2px;
    border-radius: 10px;
    background: linear-gradient(
        185deg,
        pink,
        purple,
        lightblue
    );
}

.burgAll {
    background-color: pink;
    border: black solid 1px;
    border-radius: 10px;
}

.burgList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.devour {
    border-radius: 10px;
    background-color: plum;
}

.nameDiv {
    margin-right: 5px;
}


.devoured {
    background-color: powderblue;
    border: black solid 1px;
    border-radius: 10px;
}

.submitBurg {
    margin-top: 5px;
    padding: 5px;
    background-color: lightblue;
    margin-left: 33%;
    margin-right: 33%;
    border: black solid 2px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h2 {
    text-align: center;
}

.burgerDiv, .devouredDiv {
    border-radius: 100%;
    background: repeating-radial-gradient(
        circle,
        transparent,
        transparent,
        pink,
        transparent,
        lightblue
    );
}

.textArea {
    width: 100%;
    background: radial-gradient(
        circle,
        transparent,
        pink
    );
}

.submitBtn {
    background-color: pink;
    border: black solid 2px;
    border-radius: 10px;
}

.submitLabel {
    text-align: center;
}